
#block-steam_community-calendar ul {
  margin:0;
  padding:0;
}

#block-steam_community-calendar li {
  margin:0 0 1em 0;
  padding:0;
  list-style-type:none;
}

#block-steam_community-calendar li img {
  float:left;
  margin:0 5px 5px 0;
}

#block-steam_community-calendar li .description {
  display:block;
  font-size:.85em;
  clear:both;
}